.container:before {
    position: absolute;
    z-index: -1;
    background-color: #009688;
    width: 100%;
    height: 222px;
    content: '';
    top: 0;
}

.mainPaperContainer{
    width: 70%;
    min-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mainPaperSecondaryContainer{
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 30px;
}

.mainPaperDashboardContainer{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mainPaperContainer_login{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.leftContainer{
    position: relative;
    float: left;
}

.rightContainer{
    position: relative;
    float: right;
    text-align: right;
    right: 5px;
    top: 5px;
}

.title{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 26px;
}

.breadcrumb{
    padding-top: 6px;
    padding-left: 20px;
    font-size: 14px;
}

.lowerButtons{
    clear: both;
    position: relative;
    width: 100%;
    padding-top: 30px;
    right: 5px;
    bottom: 5px;
    text-align: right;
}

.searchBox{
    font-size: 26px;
}

.contents{
    clear: both;
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
}

.dashboard{
    position: relative;
    left: -15px;
    top: -15px;
    margin: 30px;
}

.filters{
    clear: both;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
}

.tableContainer{
    clear: both;
    width: 100%;
}

.loading{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.chip{
    float: left;
    margin-left: 10px;
}

.chipButton{
    top: 5px;
}

.chipbutton:hover{
    cursor: hand;
}

.paginatorContainer{
    /* top, right, bottom, left */
    padding: 0px 15px 0px 15px;
    height: 55px;
    background-color: #e8e8e8;
}

.leftPaginatorContainer{
    margin-top: 18px;
    position: relative;
    float: left;
}

.rightPaginatorContainer{
    margin-top: 10px;
    position: relative;
    float: right;
}

.leftColumn{
    position: relative;
    width: 50%;
    float: left;
}

.rightColumn{
    position: relative;
    width: 50%;
    float: right;
}

.login_avatar{
    background-color: rgb(255, 64, 129);
}

.widgets{
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.startedTasksLineChartStyle{
    position: relative;
    margin-bottom: 50px;
    padding-right: 40px;
}

.tasksStatusRadarChartStyle{
    margin-bottom: 20px;
    float: right;
    margin-right: 40px;
}

.userTasksDoughnutChartStyle{
    margin-bottom: 20px;
    float: left;
    margin-left: 50px;
}