.container:before {
    position: absolute;
    z-index: -1;
    background-color: #009688;
    width: 100%;
    height: 222px;
    content: '';
    top: 0;
}

.mainPaperContainer{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 80px;
    padding-bottom: 30px;
}

.leftContainer{
    position: relative;
    float: left;
}

.rightContainer{
    position: relative;
    float: right;
    text-align: right;
    right: 5px;
    top: 5px;
}

.title{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 26px;
}

.breadcrumb{
    padding-top: 6px;
    padding-left: 20px;
    font-size: 14px;
}

.lowerButtons{
    clear: both;
    position: relative;
    width: 100%;
    padding-top: 30px;
    right: 5px;
    bottom: 5px;
    text-align: right;
}

.searchBox{
    font-size: 26px;
}

.contents{
    clear: both;
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
}

.filters{
    clear: both;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
}

.tableContainer{
    clear: both;
    width: 100%;
}

.loading{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.chip{
    float: left;
    margin-left: 10px;
}

.chipButton{
    top: 5px;
}

.chipbutton:hover{
    cursor: hand;
}

.paginatorContainer{
    /* top, right, bottom, left */
    padding: 0px 15px 0px 15px;
    height: 55px;
    background-color: #e8e8e8;
}

.leftPaginatorContainer{
    margin-top: 18px;
    position: relative;
    float: left;
}

.rightPaginatorContainer{
    margin-top: 10px;
    position: relative;
    float: right;
}

.leftColumn{
    position: relative;
    float: left;
    width: 30%;
}

.rightColumn{
    position: relative;
    float: left;
    padding-left: 20px;
    width: 30%;
}